.navbar-brand {
    font-weight: bold;
}

li a:hover {
    color: blue !important;
    font-weight: bolder;
}

.chat-container {
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    overflow-y: scroll;
}

@info: #0dcaf0;

.active-link {
    color: blue;
    background-color: @info;
    font-weight: bolder;
    border-radius: 10px;
}